.Dashboard{
    display: flex;
    background-color: rgb(59, 59, 93);
}
.Dashboard .options{
    width: 30vh;
    background-color:  #1A1C2C;
    height: 750px;
    border-radius: 0 20px 25px 0;
}
.CgProfile-icon{
    width: 80px;
    height: 80px;
    color: rgb(102, 102, 158);
    /* margin-left: 86px;
    margin-top: 25px;
    margin-bottom: 0; */
    margin: 25px 0px 20px 70px;
}
.Dashboard .content{
    width: 80%;
    /* background-color: rgb(96, 96, 119); */
}

.Dash-links {
    list-style: none;
}

.Dash-links li{
    margin-bottom: 50px;

}

.Dash-links a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.Dash-links li a:hover {
    background-color: #00CDCD;
    border-radius: 10px;
    padding: 3px 10px;
    color: white; /* Change text color to white when hovering */
}


/* -------------------------------------------------- */
.heder{
    display: flex;
    height: 40px;
    margin-top: 15px;
    gap: 20px;
}
.heder Button{
    width: 200px;
    height: 40px;
    cursor: pointer;
    background-color: #019393;
    ;
    border: none;
    border-radius: 10px;
    margin-left: 130vh;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.heder svg{
    width: 45px;
    height: 45px;
    color: #fff;
}

.progress-content h2{
    margin-left: 40px;
    font-size: 25px;
    color: white;
}

.progress-body{
    display: flex;
    width: 100%;
    height: 39em;
}

.progress{
    width: 70%;
    margin: 10px 20px 0px 40px;
}
.progress text{
    color: #fff;
    float: right;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.task{
    width: 30%;
    margin: 10px;
}

.course-progess{
    margin-bottom: 4em;
    background-color: #1A1C2C;
    width: 100%;
    height: 12em;
    border-radius: 10px;
    display: flex;
}
.course-progess p{
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;

}
.course-progess .ponit-col{
    background-color: #019393;
    width: 9px;
    /* height: 6em; */
    border-radius: 20px;
    margin-left: 8px;
}

.doning{
    display: flex;
    color: #fff;
    gap: 8em;
    margin-left: 1em;
    margin-top: 3em;
}

.donin-prasentage svg{
    margin-right: 10px;
}

.deadline{
    margin: 1.5em 2em 0em auto;
    color: #fff;
}

.taskTime{
    background-color: #1A1C2C;
    width: 20em;
    height: 5em;
    margin: 0em auto 3em auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 2em;
}
.colli, .colliii{
    background-color: #4d516f;
    width: 3em;
    height: 3em;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.taskCompletedTopic{
    color: #fff;
    font-size: 20px;
    margin: 0em 0em 0.2em 0.6em;
    font-weight: bold;
}
.taskCompleted{
    background-color: #1A1C2C;
    width: 20em;
    height: 12em;
    margin: 0em auto 3em auto;
    border-radius: 10px;
}
.well-done{
    background-color: #1A1C2C;
    width: 15em;
    height: 10em;
    margin: 0em auto 3em auto;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.well-done img{
    margin: 1em;
    width: 6em;
    height: 6em;
}

path[Attributes ]{
    color: #1A1C2C;
}

.course-progess svg{
    color: #112594;
}

.doning-task svg{
    color: #fff;
    margin-right: 0.2em;
}

.progress, .progress-stacked {
    --bs-progress-height: 39rem !important;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0d6efd;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    flex-direction: column;
    height: var(--bs-progress-height);
    overflow: hidden;
    background-color: rgb(59, 59, 93) !important;
    font-size: var(--bs-progress-font-size);
    border-radius: var(--bs-progress-border-radius);
}