.ScondNav{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  text-align: right;
  align-items: end;
  padding-bottom: 50px;
  padding-top: 20px;
}
.ScondNav hr{
  height: 20px;
  color: #fff;
  /* background-color: #fff; */
  width: 100%;
}


.Course-top{
    /* margin-top: 0vh; */
    display: flex;
    width: 1400px;
    color: #fff !important; 
  }

.bot{
    margin-top: 10vh;
}

.arrivals{ 
  color: #fff;
  font-size: 20px;
}

.arrivals {
    margin-left: 60px;
    color: #fff;
}

.cards{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    /* overflow-x: auto; */
    align-items: center;
}

.card {
    /* flex: 0 0 auto; */
    margin: 30px 40px 55px 50px; /* Adjust the margin between cards as needed */
    background-color: #1A1C2C !important;
    height: 310px;
    border-radius: 10px;
    color: #fff !important;
  }
.card img{
    width: 286px;
    height: 190px;
  }

  .cName{
    color: #fff;
    font-size: 17px;
    display: flex;
  }
  .cTime{
    color: #fff;
    font-size: 15px;
  }

element.style {
    width: 16.7rem;
}
  .value{
    color: yellow;
    margin-right: 5px;
    float: right;
  }
  .values{
    color: yellow;
    margin-left: 72px;
    float: right;
  }

.lecture{
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
    align-items: center;
    /* gap: 20px; */
    margin: 0;
}
  

  .lecProfile img{
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }

  .Name{
    color: white;
    margin-left: 10px;
    font-size: 10px;
    width: 80%;
  }

  .Points {
    /* margin-left: 130px; */
    color: yellow;
    font-size: 12px;
    width: 20%;
    float: right;
  }
  .Points img{
    width: 15px;
    height: 15px;
  }

  .searchInput{
    display: flex;
    margin-left: 50px;
    color: #fff !important;
  }

  .search input{
    background-color: transparent;;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 18px;
    height: 40px;
    width: 400px;
    color: #ffffff !important;
 
  }


  .searchIcon{
    /* margin-top: ; */
    /* height: 60px; */
    /* width: 50px; */
    display: grid;
    place-items: center;
    margin-left: -50px;
    margin-top: -12px;
  }

  .searchIcon svg{
    width: 25px;
    height: 25px;
    color: #fff;

  }

  

  /* .top p{
    margin-left: 500px;
    margin: 0;
  } */

  .topText{
    margin-left: 127px;
    margin-top: 0px;
  }
  .topText p{
    font-size: 20px;
    margin: 0;
    color: #fff;
  }