/* Add these styles to your existing CSS file or create a new one */

.progress-bar-container {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 15px;
    background-color: #0000;
    border-radius: 5px;
    border: 2px solid #ffff;
    border-radius: 10px;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #4caf50; /* Change the color as needed */
    border-radius: 5px;
  }
  